@import url("https://fonts.googleapis.com/css2?family='Figtree',:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}
ul[class],
ol[class] {
  padding: 0;
  font-family: 'Figtree', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
  font-family: 'Figtree', sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  font-family: 'Figtree', sans-serif;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
